{{extend 'layout.html'}}

{{block pesquisa}}
<form action="http://127.0.0.1:8000/projeto/initial/busca_rap" method="POST">
<input id="redd" name="nome" class="span3" type="text" autocomplete="off" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source=""> 
<input type="submit" name"Pesquisa">
</form>
{{end}}

{{block center}}
<div class="span5" >
<div class="well">
<h5><span style="color: black;">Últimos Clientes adicionados</span></h3>

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
    </tr>
    </thead>
    <tbody>
{{
for row in aqui:   
	  }}<tr>
        <td>{{=row[1]}}</td>
      </tr>{{
   pass   
}}
</tbody>
</table>

</div>
</div>

<div class="span5" >
<div class="well">
<h5><span style="color: black;">Últimos Servidores adicionados</span></h3>

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Tipo</th>
    </tr>
    </thead>
    <tbody>
{{
for row in server:   
	  }}<tr>
        <td>{{=row[1]}}</td>
      </tr>{{
   pass   
}}
</tbody>
</table>

</div>
</div>

<div class="span11">
<div class="well">
<h5><span style="color: black;">Últimos hosts adicionados</span></h3>

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ip Chegada</th>
        <th>Porta</th>
        <th>Gateway</th>
    </tr>
    </thead>
    <tbody>
{{
for row in hosts:   
	  }}<tr>
        <td><a href="{{=URL('initial', 'detalhes_clean', vars=dict(f=row[0]))}}">{{=row[21]}}</a></td>
        <td>{{=row[22]}}</td>
        <td>{{=row[23]}}</td>
        <td>{{=row[24]}}</td>
      </tr>{{
   pass   
}}
</tbody>
  </table>

</div>
</div>

{{
claro = '900'
tim = '500'
}}


<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
<script>
$(document).ready(function(){

$.ajax({
method: "get",
url: "initial/get_json",
dataType: "json",
success: function(nome){
  //alert(nome);
  $('#redd').typeahead({source: nome});
}
});

});
</script>


{{end}}